<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-inappbrowser-tests" version="1.7.0">
  <name>Cordova InAppBrowser Plugin Tests</name>
  <license>Apache 2.0</license>
  <dependency id="cordova-plugin-dialogs"/>
  <js-module src="tests.js" name="tests"/>
  <asset src="resources" target="cdvtests/iab-resources"/>
</plugin>
